:root{
    --main-color: #f0932b ;
    --blueviolet-color: #8E7DEC;
    --heading-color: #140101;
    --bg-color: #00113F;
    --body-color: #cdacd1;
    --span-color: #FA9435;
    --hover-color: #fff;
    --paragraph-color:  #777;
    --nav-color: #FDF1FC;
    --main-transition: .5s;
}

.btn{
    width: 8rem;
}

.blueviolet-btn{
    background-color: var(--blueviolet-color);
    transition: var(--main-transition);
    width: 8rem;
}

.blueviolet-btn:hover{
    background-color: #6148ea;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.section-heading-title{
    color: var(--body-color);
    background-color: #FDF1FC;
    

}


/* ----------------------------------------------------------------------------------- */
/* navbar */
nav{
     background-color: var(--hover-color); 
} 

nav .icon .icon-shopping{
   color: var(--blueviolet-color);
}

nav .navbar-nav .nav-item .nav-link{
    color: var(--heading-color);
}

nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .nav-link:hover{
    color: var(--blueviolet-color);
}
/* ---------------------------------------------------------------------------------------- */
/* about-box */
.about-box{
    background-color: var(--body-color);
}

.about-box .about-title{
    width: 17rem;
}
@media(max-width: 767px){
    .about-box .about-title{
        width: 13rem;
    }
}

.about-box img{
    height: 11rem;
}
/* ---------------------------------------------------------------------------------------------- */
/* about-desc */
.about-desc p{
    color: var(--paragraph-color);
}

.about-desc svg{
    color: var(--main-color);
}
/* -------------------------------------------------------------------------------------------- */
/* mission */
.mission p{
    color: var(--paragraph-color);
}
/* ------------------------------------------------------------------------------------------ */
/* offer */

.offer svg{
    color: var(--main-color);
}

.offer p{
    color: var(--paragraph-color);
}
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* footer */
.footer{
    background-color: var(--bg-color);
}

.footer p{
    color: var(--paragraph-color);
}

.footer li svg{
    transition: var(--main-transition); 
}

.footer li svg:hover{
    transform: rotate(360deg);
    color: var(--main-color);
    cursor: pointer;
}

.footer .row .footer-logo h2{
    font-size: 2rem;
}

.footer .row h2{
    font-size: 1.3rem;
}

.footer li{
    color: var(--paragraph-color);
    cursor: pointer;
    padding-bottom: 1rem;
    transition: var(--main-transition);
}


.footer li:hover{
    color: var(--main-color);
}







