:root{
    --main-color: #f0932b ;
    --blueviolet-color: #8E7DEC;
    --heading-color: #140101;
    --bg-color: #00113F;
    --body-color: #FFF7F3;
    --span-color: #FA9435;
    --hover-color: #fff;
    --paragraph-color:  #777;
    --nav-color: #FDF1FC;
    --main-transition: .5s;
}

.btn{
    width: 5rem;
}

.blueviolet-btn{
    background-color: var(--blueviolet-color);
    transition: var(--main-transition);
    width: 5rem;
}

.blueviolet-btn:hover{
    background-color: #6148ea;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--body-color);
}

.section-heading svg{
    color: var(--main-color);
}

.section-heading-title{
    color: var(--main-color);

}
/* ----------------------------------------------------------------------------------- */
/* navbar */
nav{
    background-color: var(--nav-color);
} 

nav .icon .icon-shopping{
   color: var(--blueviolet-color);
}

nav .navbar-nav .nav-item .nav-link{
    color: var(--heading-color);
}

nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .nav-link:hover{
    color: var(--blueviolet-color);
}





