:root{
    --main-color: #f0932b ;
    --secondary-color: #8E7DEC;
    --heading-color: #140101;
    --bg-color: #00113F;
    --span-color: #FA9435;
    --hover-color: #d17e16;
    --paragraph-color:  #777;
    --body-color: #FDF1FC;
    --main-transition: .5s;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--body-color);
}

.main-btn{
    background-color: var(--main-color);
    transition: var(--main-transition);
}

.main-btn:hover{
    background-color: var(--hover-color);
}

.section-heading svg{
    color: var(--main-color);
}

.section-heading-title{
    color: var(--main-color);

}
/* ----------------------------------------------------------------------------------- */
