:root{
    --main-color: #f0932b ;
    --blueviolet-color: #8E7DEC;
    --heading-color: #140101;
    --bg-color: #00113F;
    --body-color: #FFF7F3;
    --span-color: #FA9435;
    --hover-color: #fff;
    --paragraph-color:  #777;
    --nav-color: #FDF1FC;
    --main-transition: .5s;
}

.btn{
    width: 5rem;
}

.blueviolet-btn{
    background-color: var(--blueviolet-color);
    transition: var(--main-transition);
    width: 5rem;
}

.blueviolet-btn:hover{
    background-color: #6148ea;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--body-color);
}

.section-heading-title{
    color: var(--body-color);
    background-color: #FDF1FC;
    

}


/* ----------------------------------------------------------------------------------- */
/* navbar */
nav{
     background-color: var(--hover-color); 
} 

nav .icon .icon-shopping{
   color: var(--blueviolet-color);
}

nav .navbar-nav .nav-item .nav-link{
    color: var(--heading-color);
}

nav .navbar-nav .nav-item .nav-link.active,
nav .navbar-nav .nav-item .nav-link:hover{
    color: var(--blueviolet-color);
}
/* ---------------------------------------------------------------------------------------- */
/* landing */
.landing{
    background-color: var(--bg-color);
    min-height: calc(100vh - 70px);
}

.landing h2,
.landing h2 span{
    font-size: 3rem;
}


.landing h2 span{
    color: var(--span-color);
}

.landing p{
    color: var(--paragraph-color);
}
/* ------------------------------------------------------------------------------------------------------------ */
/* categories */
.categores{
     background-color: var(--nav-color); 
}

.categores .categores-item{
    cursor: pointer;
    padding: 50px;
    transition: var(--main-transition);
    box-shadow: 0px 2px 15px rgba(249, 249, 249, 0.08);
}

.categores .categores-item:hover{
    background-color: var(--span-color);
}

.categores .categores-item svg{
    color: var(--span-color);
}

.categores .categores-item h2{
    color: var(--heading-color);
    transition: var(--main-transition); 
}

.categores .categores-item:hover h2,
.categores .categores-item:hover svg{
    color: var(--hover-color);
}

.categores .categores-item p{
   color: var(--paragraph-color);
}






